
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.topo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.topo a {
  text-decoration: none;
  color: #1f1f1f;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.topo a:hover {
  border-bottom: 2px solid #1f1f1f;
}

.icone {
  width: 25px;
  height: 25px;
}

/* Botão login */
.login {
  background-color: #0b57d0;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/*.login::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
}

.login:hover::after {
  width: 50%;
}*/


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  max-width: 400px;
  margin-bottom: 30px;
}


.pesquisa {
  display: flex;
  align-items: center;
  border: 1px solid #474747;
  border-radius: 30px;
  padding: 8px 12px;
  width: 500px;
  max-width: 90%;
  
}

.pesquisa input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.lupa {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Botões de pesquisa */
.botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.botoes button {
  background-color: #f7f8f9;
  border: 1px solid #f7f8f9;
  color: #3c4043;
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.botoes button:hover {
  border: 1px solid #dadce0;
  background-color: #f1f3f4;
}

/* Footer */
.footer-alto {
  padding: 10px 30px;
  color: #1f1f1f;
  font-size: 14px;
  background-color: #f7f8f9;
}

.footer-baixo {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #f7f8f9;
  border-top: 1px solid #dadce0;
  font-size: 14px;
}

.footer-esquerda{
  display: flex;
  gap: 20px;
}


.footer-direita {
  display: flex;
  gap: 20px;
}

.footer-baixo a {
  text-decoration: none;
  color: #1f1f1f;
  position: relative;
}

.footer-baixo a:hover {
  border-bottom: 2px solid #1f1f1f;
}


/* RESPONSIVIDADE */

/* Tablets e telas médias */
@media (max-width: 1024px) {
  .topo {
    gap: 15px;
  }

  .pesquisa {
    width: 80%;
  }

  .logo {
    max-width: 300px;
  }
}

/* Celulares */
@media (max-width: 600px) {
  header {
    justify-content: center;
    padding: 10px;
  }

  .topo {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .pesquisa {
    width: 100%;
    max-width: 90%;
    padding: 6px 10px;
  }

  .pesquisa input {
    font-size: 14px;
  }

  .botoes {
    flex-direction: column;
    gap: 10px;
  }

  .botoes button {
    width: 100%;
  }

  .footer-baixo {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
  }

  .footer-esquerda,
  .footer-direita {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}